@font-face {
    font-family: norwester;
    src: url("../webfonts/norwester.woff");

}

h1, h2, h3, h4, h5, h6{
	font-family: "norwester"
}
*{
	font-family: 'Roboto Slab', serif;
}
a {
    color: #a41631;
    text-decoration: none
}
a:hover {
    color: #f8ba17;
}
.header-background{
/*    background: url(../images/Texters.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;*/
  background: url(../images/LogoTest2.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top;

  background-color: #a41631;
  color: white;


}



/**
	Form
 */
input[type=text] {
	padding:5px; border:2px solid #ccc 
	-webkit-border-radius: 5px;
    border-radius: 5px;

}
input[type=text]:focus {
	border-color:#333; 
}

input[type=submit] { 
	background: #a41631;
	color:white;
}
input:hover[type="submit"] {
color:#f8ba17;
}

/*http://www.sanwebe.com/2014/08/css-html-forms-designs*/
.form-style-6{
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #f8ba17;
    padding: 3%;
    color: #f8ba17;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #f8ba17;
    padding: 3%;
    border: 1px solid #f8ba17;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 3%;
    background: #a41631;
    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #f8ba17;
}


/*Example area*/
.text{
	border:solid 2px #a41631;
	max-width: 400px;
	margin: 0 auto;
}

.left{
	float: left;
}

.right{
	float:right;
}

.footer {
    margin-top: 10rem;
    text-align: center;
}
.footer p{
    font-size:.5em;
}
.footer a{
    font-size:.5em;
}
